:root {
  --background-color: #f9f8f4;
  --font-color: #000;
  --frame-background-color: #fff;
  --action-color: #985ace;
  --second-action-color: #f8f1ff;
  --third-action-color: #8c5abf;
  --fourth-action-color: #444444;
  --action-text-color: #fff;
  --input-color: #403a4b;
  --input-background-color: var(--second-action-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Inter', 'Helvetica Neue', 'Noto Sans', 'Lora', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background-color);
  color: var(--font-color);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}