.button {
  background-color: var(--action-color);
  color: var(--action-text-color);
  border-radius: 10px;
  padding: 0.5625em 0.5625em;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.375;
}
